# Tremx
mmv/wavefun
mmv/a.py
mmv/processing
mmv/midis
mmv/trivia*
*.mp3
*.flac
*.mkv
*.mp4
!repo
modular-music-visualizer-venv
.vscode
mmv/untracked
mmv/mmv/common/midis
*.directory
mmv/mmv/unused
mmv/mmv/pyskt/components
mmv/mmv/pyskt/cro*
mmv/assets/generated
*ffmpeg.exe
mmv-venv
mmv/mmv/wineprefix
mmv/mmv/externals
mmv/release
mmv/example_basic
mmv/renders
.git