*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.otf filter=lfs diff=lfs merge=lfs -text
*.mid filter=lfs diff=lfs merge=lfs -text
=*.png !text !filter !merge !diff
*.jpg !text !filter !merge !diff
*.ico !text !filter !merge !diff
*.jpeg !text !filter !merge !diff
*.ttf !text !filter !merge !diff
*.otf !text !filter !merge !diff
*.mid !text !filter !merge !diff
*.mp3 !text !filter !merge !diff
*.ogg !text !filter !merge !diff
*.wav !text !filter !merge !diff
*.flac !text !filter !merge !diff
*.gif !text !filter !merge !diff
*.mp4 !text !filter !merge !diff
*.mkv !text !filter !merge !diff
